#block-views-uw-cte-feed-blog-cte-block-1 h2 {
  border-bottom: 0px;
  line-height: 27px;
}

.cte-blog-item {
  margin-top: 0.5em;
  padding: 0 0 0 0.3em;
}

.cte-block-more a {
  padding: 0 0 0 16.5em;
}

.cte-block-more {
  margin-bottom: 0.5em;
}
